body {
    background-color: #2F263C;
    color: #ffcf5f;
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    margin: 3%;
    color: white;
    min-height: 100vh;
}

.titles {
    font-family: 'Acme', sans-serif;
    color: #ffcf5f;
}

h1, h2, h3 {
    font-family: 'Acme', sans-serif;
    color: #ffcf5f;
}

.div-flex {
    display: flex;
    align-items: center;
    margin-inline-start: 10%;
}


/******************** Navbar ********************/

header {
    background-color: #ff3c3c;
}

nav {
    height: 6rem;
    display: flex;
    text-decoration: none;
}

.navTitle {
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.navList {
    display: flex;
    margin-left: 10%;
}

.navList li {
    margin-right: 50px;
    list-style: none;
}

.navList li a :hover {
    text-decoration: underline;
}


/******************** Footer ********************/

footer {
    background-color: #201b29;
    width: 100%;
}

.footerBar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerBar p {
    margin: 16px;
}